.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: rgba(33, 33, 33, 1);
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin-top: auto;
  background-color: transparent;
  border: none;
  color: rgb(33, 33, 33);
  opacity: 0.7;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.15s ease-in;
}

.profile__edit-btn::before {
  content: "";
  background-image: url(../images/pencil.svg);
  width: 16px;
  height: 16px;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  background-color: #212121;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.15s ease-in;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__add-btn::before {
  content: "";
  height: 12px;
  width: 12px;
  background-image: url(../images/plus-sign.svg);
  background-position: center;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    justify-content: center;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
